<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		versionCode="1.0.0"
		version   = "1.0.0">
		<name>Yakkalc		</name>
		<description>
		•	Calculadora
		•	Conversiones
		o	Distancia
		o	Masa
		o	Temperatura
		o	Volumen
		o	Velocidad
		•	Porcentajes
		o	Simple
		o	Si el 100% es x cual es su y%?
		o	Si x es el y% cual es el 100%
		o	Que % es x de y?
		•	Regla de 3
		o	Directa
		o	Inversa
		o	Compuesta
		•	Notas
		o	Permite guardar notas de forma local	
		</description>
	<author href="" email="chavezh@gmail.com">Hugo Chávez</author>
	<platform name="android" />
    <icon src="yakkalc180x180.png" /></icon>
	</widget>